<!DOCTYPE html>
<html lang="en">

<head> <!-- El head puede ser un partial. -->
    <link rel="stylesheet" href="/styles/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>

<body>

    <h2 class="subtitles">Information</h2>

    <!-- Para reciclar esta vista con la nueva ruta SEARCH hay que hacer un par de cambios. asi no rompe pero tampoco anda, por que aca estoy tomando los datos como si fuera un objeto, y yo deberia tomarlo como un array. hay que hacer in IF que pregunte si lo que esta viniendo es un array o un objeto.  -->

    <%- include('partials/header.ejs') %>

        <% if(Array.isArray(synth)) {%>

            <!-- si ES array, mando el for -->

            <% for (let i=0; i < synth.length; i++) { %>

            <div class="card">

                <img class="icons" src="<%= synth[i].img %>" alt="">

                <p class="description">
                    Model: <%= synth[i].model %>
                </p>

                <p class="description">
                    Price: <%= synth[i].price %>
                </p>

            </div>



             <%}%>

         <%} else {%>

            <div class="card">

                <img class="icons" src="<%= synth.img %>" alt="">

                <p class="description">
                    Model: <%= synth.model %>
                </p>

                <p class="description">
                    Price: <%= synth.price %>
                </p>

            </div>

        <% } %>

                        

                      

</body>

</html>